<strong> Hello, {{provider}} </strong>
<p>There was a cancellation, details below: </p>
<p>
  <strong>Customer:</strong> {{user}} <br />
  <strong>Date:</strong> {{date}} <br />
  <br />
  <small>
    Appointment date available.
  </small>
</p>
